#notice-write
{
	margin: 50px;
}

#notice-board
{
	position: relative;
	width: 720px;	
	height: 80px;
}

.btn 
{
	display: inline-flex;
	position: relative;
	bottom: 30px;
	left: 650px;
	padding: 4px 12px;
	background-color: white;
	color: black;
	border-radius: 5px;
}
.btn:hover
{
	background-color: gray;
}

#bd
{
	display: flex;
	position: relative;
	bottom: -20px;
}
