.pagetop
{
position: relative;
align-items: center;
margin: 20px;
width: 1080px;
height: 100px;
background-color: none;
}

.board-link {
	text-decoration: none;
	color: black;
	font-size: 20px;
	text-decoration-line: none;
	font-weight: 600;
}
	
.service {
	display: flex;
	position: relative;
	left: 170px;
	bottom: 0px;
	width: 500px;
}

#Linetop
{
width: 100%;
position: relative;
bottom: 30px;
background-color: black;
height: 2px;
}

.Account
{
display: flex;
position: relative;
left: 920px;
top: -20px;
gap: 25px;
}

#pagename
{
position: relative;
font-size: 45px;
font-weight: 700;
bottom: -40px;
}
